body {
  background: #f4f4f4;
}

.container {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px 0 0 0;
}

.image-controls {
  text-align: center;
  padding: 20px;
  margin: -20px -20px 0px -20px;
  background: #fcfcfc;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image-controls .btn {
  min-width: 120px;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
  border-radius: 6px;
}

.image-controls .btn-default {
  color: #888;
}

.image-controls .btn-effect {
  border: 0;
  background: transparent;
}

.image-controls .btn-effect.active,
.image-controls .btn-default:hover,
.image-controls .btn-default:focus,
.image-controls .btn-default:active:hover,
.image-controls .btn-default:active:focus {
  background: #f4f4f4;
}

.image-controls .btn-default.green-border,
.toolbar .btn-default.green-border {
  border-color: #4cae4c;
  color: #4cae4c;
}

.image-controls .btn-default.green-border:hover,
.image-controls .btn-default.green-border:focus,
.image-controls .btn-default.green-border:active:hover,
.image-controls .btn-default.green-border:active:focus,
.toolbar .btn-default.green-border:hover,
.toolbar .btn-default.green-border:focus,
.toolbar .btn-default.green-border:active:hover,
.toolbar .btn-default.green-border:active:focus {
  background: #4cae4c;
  color: #fff;
}

.image-controls .btn-default.red-border,
.toolbar .btn-default.red-border {
  border-color: #d43f3a;
  color: #d43f3a;
}

.image-controls .btn-default.red-border:hover,
.image-controls .btn-default.red-border:focus,
.image-controls .btn-default.red-border:active:hover,
.image-controls .btn-default.red-border:active:focus,
.toolbar .btn-default.red-border:hover,
.toolbar .btn-default.red-border:focus,
.toolbar .btn-default.red-border:active:hover,
.toolbar .btn-default.red-border:active:focus {
  background: #d43f3a;
  color: #fff;
}

.image-controls .btn-default.red-border,
.image-controls .btn-default.green-border,
.toolbar .btn-default.red-border,
.toolbar .btn-default.green-border {
  margin-top: 12px;
}

.image-controls .btn-default.red-border i,
.image-controls .btn-default.green-border i,
.toolbar .btn-default.red-border i,
.toolbar .btn-default.green-border i {
  font-size: initial;
}

.image-controls i {
  font-size: 23px;
  margin-bottom: 5px;
}

.image-controls span {
  display: block;
}

.toolbar {
  text-align: center;
  padding: 25px;
  background: #fcfcfc;
  border-bottom: 2px solid #ddd;
  margin: 20px 0px 30px 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.toolbar .btn {
  margin-top: 0;
}

.color-picker-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.color-picker-pair {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
}

.color-picker-pair label,
.color-picker-pair input {
  display: block;
  width: 100px;
}

.color-apply-button {
  text-align: center;
  margin-top: 20px;
}

.color-apply-button .btn-effect {
  width: calc(2 * 100px + 20px); /* Width of both color-picker-pairs plus the margin between them */
}

.toolbar .btn {
  transition: all 0.15s ease-in-out; /* Apply the transition effect to toolbar buttons */
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

#image-canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid #ddd;
  max-width: 100%;
  height: auto;
}

.upload-field {
  border: 2px dashed #ccc;
  padding: 100px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.upload-field.active {
  display: block;
}

.upload-field .file-input {
  display: none;
}

.upload-field .upload-message {
  pointer-events: none;
}

.upload-field .upload-message .btn {
  pointer-events: auto;
}

/* Style for Apply Color button */
.toolbar #apply-color {
  border-color: #4cae4c;
  color: #4cae4c;
}

.toolbar #apply-color:hover,
.toolbar #apply-color:focus,
.toolbar #apply-color:active:hover,
.toolbar #apply-color:active:focus {
  background: #4cae4c;
  color: #fff;
}

#apply-selection,
#clear-selection {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.btn.active, .btn:active {
  box-shadow: none !important;
}