body {
  background: #f4f4f4;
}

.container {
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image-controls {
  text-align: center;
  padding: 20px;
  margin: -20px -20px 0px -20px;
  background: #fcfcfc;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image-controls .btn {
  min-width: 120px;
  transition: all 0.15s ease-in-out;
  font-weight: 600;
  border-radius: 6px;
}

.image-controls .btn-default {
  color: #888;
}

.image-controls .btn-effect {
  border: 0;
  background: transparent;
}

.image-controls .btn-effect.active,
.image-controls .btn-default:hover,
.image-controls .btn-default:focus,
.image-controls .btn-default:active:hover,
.image-controls .btn-default:active:focus {
  background: #f4f4f4;
}

.image-controls .btn-default.green-border,
.toolbar .btn-default.green-border,
.overlay-content .btn-default.green-border {
  border-color: #4cae4c;
  color: #4cae4c;
}

.image-controls .btn-default.green-border:hover,
.image-controls .btn-default.green-border:focus,
.image-controls .btn-default.green-border:active:hover,
.image-controls .btn-default.green-border:active:focus,
.toolbar .btn-default.green-border:hover,
.toolbar .btn-default.green-border:focus,
.toolbar .btn-default.green-border:active:hover,
.toolbar .btn-default.green-border:active:focus,
.overlay-content .btn-default.green-border:hover,
.overlay-content .btn-default.green-border:focus,
.overlay-content .btn-default.green-border:active:hover,
.overlay-content .btn-default.green-border:active:focus {
  background: #4cae4c;
  color: #fff;
}

.image-controls .btn-default.red-border,
.toolbar .btn-default.red-border,
.overlay-content .btn-default.red-border {
  border-color: #d43f3a;
  color: #d43f3a;
}

.image-controls .btn-default.red-border:hover,
.image-controls .btn-default.red-border:focus,
.image-controls .btn-default.red-border:active:hover,
.image-controls .btn-default.red-border:active:focus,
.toolbar .btn-default.red-border:hover,
.toolbar .btn-default.red-border:focus,
.toolbar .btn-default.red-border:active:hover,
.toolbar .btn-default.red-border:active:focus,
.overlay-content .btn-default.red-border:hover,
.overlay-content .btn-default.red-border:focus,
.overlay-content .btn-default.red-border:active:hover,
.overlay-content .btn-default.red-border:active:focus {
  background: #d43f3a;
  color: #fff;
}

.image-controls .btn-default.red-border,
.image-controls .btn-default.green-border,
.toolbar .btn-default.red-border,
.toolbar .btn-default.green-border,
.overlay-content .btn-default.red-border,
.overlay-content .btn-default.green-border {
  margin-top: 12px;
}

.image-controls .btn-default.red-border i,
.image-controls .btn-default.green-border i,
.toolbar .btn-default.red-border i,
.toolbar .btn-default.green-border i,
.overlay-content .btn-default.red-border i,
.overlay-content .btn-default.green-border i {
  font-size: initial;
}

.image-controls i {
  font-size: 23px;
  margin-bottom: 5px;
}

.image-controls span {
  display: block;
}

.toolbar {
  text-align: center;
  padding: 25px;
  background: #fcfcfc;
  border-bottom: 2px solid #ddd;
  margin: 20px 0px 30px 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.toolbar .btn {
  margin-top: 0;
}

.color-picker-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Centers the wrapper */
}

.color-picker-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.color-picker-pair {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
}

.color-picker-pair label, .tolerance-slider-container label {
  display: block;
  margin-bottom: 10px;
}

.color-picker-pair input, .tolerance-slider-container input {
  width: 100%;
}

.tolerance-slider-container, .color-apply-button {
  width: 100%;
  margin-bottom: 20px;
}

.color-apply-button a {
  width: 100%;
  text-align: center;
}

.color-apply-button {
  text-align: center;
  margin-top: 20px;
}

.color-apply-button .btn-effect {
  width: 100%;
}

.toolbar .btn {
  transition: all 0.15s ease-in-out; /* Apply the transition effect to toolbar buttons */
}

.btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

#image-canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid #ddd;
  width: 100%; /* Maximale Breite 100% des Containers */
  height: auto; /* Höhe automatisch proportional */
  max-width: 100%;
}

.upload-field {
  border: 10px dashed #ccc;
  border-style: dashed;
  border-width: 2px;
  border-color: #ccc;
  padding: 100px;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
} 

.upload-field.active {
  display: block;
}

.upload-field .file-input {
  display: none;
}

.upload-field .upload-message {
  pointer-events: none;
  font-size: 16px;
}

.upload-field .upload-message .btn {
  pointer-events: auto;
}

#browse-btn {
  padding: 6px 20px;
  font-size: 16px;
}

/* Style for Apply Color button */
.toolbar #apply-color {
  border-color: #4cae4c;
  color: #4cae4c;
}

.toolbar #apply-color:hover,
.toolbar #apply-color:focus,
.toolbar #apply-color:active:hover,
.toolbar #apply-color:active:focus {
  background: #4cae4c;
  color: #fff;
}

#apply-selection,
#clear-selection {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.btn.active, .btn:active {
  box-shadow: none !important;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.overlay-content {
  background: #fff;
  padding: 50px;
  border-radius: 5px;
  text-align: center;
}

.overlay-content p {
  margin-bottom: 10px;
  font-size: medium;
}

.overlay-content p:nth-child(3) {
  opacity: 70%;
  margin-bottom: 20px;
  font-size: small;
}

.overlay-content h3 {
  margin-top: 0 !important;
  margin-bottom: 20px;
}

.overlay-content .btn {
  margin: 0 10px;
  transition: all 0.15s ease-in-out;
}

.overlay-content .cancel-btn {
  border-color: #888;
  color: #888;
  margin-top: 12px;
}

.overlay-content .cancel-btn:hover,
.overlay-content .cancel-btn:focus,
.overlay-content .cancel-btn:active:hover,
.overlay-content .cancel-btn:active:focus {
  background: #888;
  color: #fff;
}
